---
---

@import "{{ site.theme }}";

section.page-header {
    background-image: url(https://microsoft.github.io/cardboard-circuits/assets/modules.jpg);
    background-size: cover;
}
.project-name {
    background: rgba(0,0,0,0.3);
}